{% extends 'base.html.twig' %}
{% block title %}Mes articles commentés
{% endblock %}
{% block body %}
	<h1>Article</h1>


	<div class="row">
		<div class="col-sm-12 col-lg-3">
			{% include 'admin_dashboard/aside.html.twig' %}
		</div>

		<div class="col-sm-12 col-lg-9">
			<table class="table table-hover">
				<thead>
					<th>Auteur du commentaire</th>
					<th>Adresse mail</th>
					<th>Date du commentaire</th>
					<th>Titre de l'article</th>
					<th>Etat du commentaire</th>
					<th>Actions</th>
				</thead>
				<tbody>

					{% for comment in comments %}
						<tr>
							<td>{{comment.user.pseudo}}</td>
							<td>{{comment.user.email}}</td>
							<td>{{comment.date|date('Y-m-d H:i:s')}}</td>
							<td>{{comment.article.headline }}</td>
							<td>
								{% if comment.state == 0  %}
									<span class="categorie badge badge-pill badge-warning">En attente de validation</span>
								{%elseif comment.state == 1 %}
									<span class="categorie badge badge-pill badge-success">
										Validé
									</span>

								{%elseif comment.state == 2 %}
									<span class="categorie badge badge-pill badge-danger">
										Non Approuvé</span>

								{% endif %}

							</td>
							<td> <a href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier Etat Commentaire</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
            {{ knp_pagination_render(comments) }}


		</div>
	</div>
{% endblock %}
